@model IEnumerable<Entity.Concrete.User>

@{
    ViewData["Title"] = "Index";
}


<title>Users</title>


<div class="card-body" style="margin: 10px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../home/index">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Mail</th>
                <th>Status</th>
                <th>
                    <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark">
                        <a asp-action="Create"><i class="fa fa-plus"></i>Create new User</a>
                    </button>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Mail</td>
                    <td>@item.Status</td>
                    <td>
                        <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark">
                            <a asp-action="Edit"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">
                            <a asp-action="Delete"><i class="fa fa-trash"></i></a>
                        </button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>


